p{
    font-size: 17px;
}
.docs li{
    font-size: 17px;
    margin-top: 8px;
}


/*    <div class="container py-2">
              <h4 class="py-1">Testing requirements</h4>
              
           
             
              <p></p>
      
              <p></p>
              
      
      
      
      
      
              <ul class="docs">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
              
             
      
              
             </div> */